@font-face {
    font-family: EuropeExt;
    src: url(../fonts/EuropeExt\ Normal.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: EuropeExt;
    src: url(../fonts/EuropeExt\ Bold.woff2);
    font-weight: 700;
    font-style: normal;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*.container {
    max-width: 1225px;
    margin: 0 auto;
}*/
/*header*/
.header {
    margin: 0 auto;
    height: 78px;
    max-width: 1920px;
    background-color: #01983b;
}
.header__link {
    margin: 0 auto;
    max-width: 980px;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu {
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.menu__inner {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
}
.menu__inner:hover {
    transition: 0.2s linear;
    padding: 7px;
    border-top: solid 2px;
    border-bottom: solid 2px #f2f5f7;
}
/*----------presentation info-------------*/


.container__presentation {
    margin: 0 auto;
    height: 748px;
    max-width: 1920px;
    background: url(../img/background_sliderblock.jpg) center no-repeat;
    background-size: cover;
}
.container__presentation__inner {
    max-width: 980px;
    margin: 0 auto;
}
.presentation__info {
    padding-top: 35px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.presentation__logo {
   padding-right: 20px;
}
.logo__cor {
    max-width: 100%;
    padding-top: 3px;
}
.presentation__social {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding-bottom: 8px;   
}
.social__text {
    padding-right: 9px;
    text-transform: uppercase;
    font-size: 12px;
    color: #01983b;
    font-family: Arial, Helvetica, sans-serif;
}
.presentation__number {
    font-size: 18px;
    font-weight: 700;
    color: #2c2783;
    text-decoration: none;
}
.presentation__search {
    position: relative;
}
.search__field {
    width: 420px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bfbeda;
    font-family: Arial, Helvetica, sans-serif;
}
.search__button {
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    top: -4px;
    right: 4px;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background-color: #ffffff;
    background-image: url(../img/3.png);
}
/*----------presentation slider-------------*/

.container__slider {
    position: relative;
    height: 493px;
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
}
.slider__cor {
    max-width: 100%;
}
.slider__content {
    position: relative;
}
.slider__content_inner {
    position: absolute;
    left: 0px;
    bottom: 35px;
    height: 140px;
    width: 770px;
    background: rgba(0, 0, 0, 40%);
    font-family: EuropeExt;
}
.slider__content__title {
    padding-left: 25px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
    vertical-align: middle;
}
.slider__content__subtitle {
    padding-left: 25px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #f3f4f0;
    margin: 0px;
}
.slick-dots {
    position: absolute;
    bottom: 12px;
    left: -365px;
    width: 100%;
}
.slick-dots li {
    height: 12px;
    width: 32px;
    border-radius: 0;
    background-color: #ffffff;
}
.slick-dots button::before {
    display: none;
}
.slick-dots .slick-active {
    background-color: #01983b;
}
/*-------------penopolisterol block--------------*/

.container__penopolisterol {
    margin: 0 auto;
    max-width: 1920px;
    padding-bottom: 23px;
}
.penopolisterol__media {
    margin: 0 auto;
    height: 550px;
    max-width: 1920px;
    background: url(../img/background_penopolisterol.jpg) center no-repeat;
    background-size: cover;
}
.penopolisterol__logo {
    padding-top: 69px;
    max-width: 374px;
    margin: 0 auto;
}
.penopolisterol__title {
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: EuropeExt;
    font-weight: 700;
    font-size: 30px;
    color: #073d79;
}
.penopolisterol__video {
    margin: 0 auto;
    max-width: 575px;
}
.penopolisterol__text__container {
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 45px;
    font-size: 14px;
    color: #0a274d;
    text-align: center;
}
.container__button {
    width: 405px;
    margin: 0 auto;
}
.penopolisterol__button {
    background-image: url(../img/penopolisterol_button.jpg);
    width: 405px;
    height: 52px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 2px #909090;
    font-family: EuropeExt;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}
/*---------block sphere--------- */

.container__sphere {
    margin: 0 auto;
    height: 826px;
    max-width: 1920px;
    background: url(../img/background_sphere.jpg) center no-repeat;
    background-size: cover;
}
.container__sphere__inner {
    margin: 0 auto;
    max-width: 1225px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sphere__title {
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    color: #073d79;
    font-family: EuropeExt;
    font-weight: 700;
    text-transform: uppercase;
}
.sphere__info {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.info__leftside {
    width: 610px;
    background-image: url(../img/sphere_left.jpg);
    background-repeat: no-repeat;
}
.info__rightside {
    width: 610px;
    background-image: url(../img/sphere_right.jpg);
    background-repeat: no-repeat;
}
.info__title__left {
    padding-right: 45px;
    margin-top: 18px;
    margin-bottom: 14px;
    text-align: end;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.info__title__right {
    padding-left: 43px;
    margin-top: 18px;
    margin-bottom: 14px;
    text-align:start;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.info__list__left {
    height: 223px;
    margin: 0px;
    padding-right: 45px;
    text-align: end;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    list-style: none;
    line-height: 1.7;
}
.info__list__right {
    height: 223px;
    margin: 0px;
    padding-left: 47px;
    text-align: start;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    list-style: none;
    line-height: 1.7;
}
.list__left__inner {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #01983b;
}
.list__left__inner::before,
.list__left__inner::after {
    content: '';
    width: 20px;
    height: 20px;
    background: #01983b;
}
.list__right__inner {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #01983b;
}
.sphere__logo__left {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    height: 25px;
    width: 100%;
    background: #eeeeee2b;
}
.logo__left__cor {
    padding-right: 45px;
}
.sphere__logo__right {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    height: 25px;
    width: 100%;
    background: #eeeeee2b;
}
.logo__right__cor {
    padding-left: 51px;
}
.container__sphere__rhombus {
    max-width: 1225px;
    margin: 0 auto;
}
.sphere__rhombus {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.rhombus__inner {
    background: url(../img/sphere_rhombus.png) no-repeat;
    height: 190px;
    width: 100%;
}
.sphere__rhombus li:nth-child(even) {
    margin-top: 50px;
}
.rhombus__content {
    position: relative;
    top: 30px;
    left: 30px;
}
.rhombus__text {
    text-align: center;
    padding-top: 100px;
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
    color: #01983b;
    text-transform: uppercase;
}
