@font-face {
    font-family: EuropeExt;
    src: url(../fonts/EuropeExt\ Normal.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: EuropeExt;
    src: url(../fonts/EuropeExt\ Bold.woff2);
    font-weight: 700;
    font-style: normal;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*.container {
    max-width: 1225px;
    margin: 0 auto;
}*/
/*header*/
.header {
    margin: 0 auto;
    height: 78px;
    max-width: 1920px;
    background-color: #01983b;
}
.header__link {
    margin: 0 auto;
    max-width: 980px;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu {
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.menu__inner {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
}
.menu__inner:hover {
    transition: 0.2s linear;
    padding: 7px;
    border-top: solid 2px;
    border-bottom: solid 2px #f2f5f7;
}
/*----------presentation info-------------*/


.container__presentation {
    margin: 0 auto;
    height: 748px;
    max-width: 1920px;
    background: url(../img/background_sliderblock.jpg) center no-repeat;
}
.container__presentation__inner {
    max-width: 980px;
    margin: 0 auto;
}
.presentation__info {
    padding-top: 35px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.presentation__logo {
   padding-right: 20px;
}
.logo__cor {
    max-width: 100%;
    padding-top: 3px;
}
.presentation__social {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding-top: -6px;
    padding-bottom: 8px;   
}
.social__text {
    padding-right: 9px;
    text-transform: uppercase;
    font-size: 12px;
    color: #01983b;
    font-family: Arial, Helvetica, sans-serif;
}
.presentation__number {
    font-size: 18px;
    font-weight: 700;
    color: #2c2783;
    text-decoration: none;
}
.presentation__search {
    position: relative;
}
.search__field {
    width: 420px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bfbeda;
    font-family: Arial, Helvetica, sans-serif;
}
.search__button {
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    top: -4px;
    right: 4px;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background-color: #ffffff;
    background-image: url(../img/3.png);
}
/*----------presentation slider-------------*/

.container__slider {
    position: relative;
    height: 493px;
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
}
.slider__cor {
    max-width: 100%;
}
.slider__content {
    position: relative;
}
.slider__content_inner {
    position: absolute;
    left: 0px;
    bottom: 35px;
    height: 140px;
    width: 770px;
    background: rgba(0, 0, 0, 40%);
    font-family: EuropeExt;
}
.slider__content__title {
    padding-left: 25px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
    vertical-align: middle;
}
.slider__content__subtitle {
    padding-left: 25px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #f3f4f0;
    margin: 0px;
}
.slick-dots {
    position: absolute;
    bottom: 12px;
    left: -365px;
    width: 100%;
}
.slick-dots li {
    height: 12px;
    width: 32px;
    border-radius: 0;
    background-color: #ffffff;
}
.slick-dots button::before {
    display: none;
}
.slick-dots .slick-active {
    background-color: #01983b;
}
/*-------------penopolisterol block--------------*/

.container__penopolisterol {
    margin: 0 auto;
    height: 797px;
    max-width: 1920px;
    background: url(../img/background_Penopolisterol.jpg) center no-repeat;
}
.penopolisterol__logo {
    padding-top: 69px;
    max-width: 374px;
    margin: 0 auto;
}
.penopolisterol__title {
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: EuropeExt;
    font-weight: 700;
    font-size: 30px;
    color: #073d79;
}
.penopolisterol__video {
    margin: 0 auto;
    height: 320px;
    max-width: 575px;
}
.penopolisterol__text__container {
    height: 160px;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 46px;
}
.penopolisterol__text {
    font-size: 14px;
    color: #0a274d;
    text-align: center;
}
.container__button {
    width: 405px;
    margin: 0 auto;
}
.penopolisterol__button {
    background-image: url(../img/penopolisterol_button.jpg);
    width: 405px;
    height: 52px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 2px #909090;
    font-family: EuropeExt;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}